div.pista1{
    background-color: rgb(133, 202, 248);
}

div.pista2{
    background-color: rgb(101, 191, 250);
}

div.pista3{
    background-color: rgb(68, 179, 253);
}

div.pista4{
    background-color: rgb(34, 167, 253);
}