div.pista1{
    background-color: rgb(133, 202, 248);
}

div.pista2{
    background-color: rgb(101, 191, 250);
}

div.pista3{
    background-color: rgb(68, 179, 253);
}

div.pista4{
    background-color: rgb(34, 167, 253);
}
div.pista5{
    background-color: rgb(209, 107, 204);
}

div.pista6{
    background-color: rgb(158, 218, 89);
}

div.pista7{
    background-color: rgb(204, 142, 142);
}

div.pista8{
    background-color: rgb(195, 207, 160);
}
div.pista9{
    background-color: rgb(119, 20, 114);
}

div.pista10{
    background-color: rgb(101, 191, 250);
}

